/* You can add global styles to this file, and also import other style files */
$Content-Title-Color: White;
$Content-Background-Color: #ededed;
$Content-Table-Background-Color: White;
$Content-Table-Header-Color: Blue;
$Content-Table-Row-Even: Red;
$Content-Table-Row-Odd: Green;
$Content-Text-Color: pink;
$Content-Link-Color: grey;

body {
    background-color: #ededed !important;
}
