<!-- Header -->
<div id="main-content-header" class="main-content-header">
  <h1>Adding new Account</h1>
</div>

<!-- Loading Spinner -->
<div *ngIf="!loaded" class="loading-center">
  <div class="lds-css ng-scope">
    <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  </div>
</div>

<!-- Loaded Form -->
<div *ngIf="loaded">
  <div class="main-content-wrapper">
    <div  class="items-content-wrapper">




<!--  (change)="checkClicked($event)"> -->
      <div class="row model-form">
        <div class="col-3"></div>
        <div class="col-6">
          <div *ngIf="OnEvent">This account cannot be edited while on an event.</div>
          <form [formGroup]="addAccountForm" (ngSubmit)="AddAccount()">
              <div class="form-group">
                <label class="switch">Autofill
                  <input type="checkbox" formControlName="CheckBox">
                  <span class="slider round"></span>
                </label>
              </div>
            <div class="form-group">
              <label>Username</label>
              <input type="text" formControlName="Username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Username.errors }" />
              <div *ngIf="submitted && f.Username.errors" class="invalid-feedback">
                <div *ngIf="f.Username.errors.required">Username is required</div>
              </div>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="text" formControlName="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" />
              <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                <div *ngIf="f.Password.errors.required">Password is required</div>
              </div>
            </div>
            <div class="form-group">
              <label>Platform</label>
              <select class="form-control" formControlName="PlatformId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.PlatformId.errors }">
                <option value="" disabled>Choose a Platform</option>
                <option *ngFor="let plat of platforms" [ngValue]="plat.Id">{{plat.Platform}}</option>
              </select>
              <div *ngIf="submitted && f.PlatformId.errors" class="invalid-feedback">
                <div *ngIf="f.PlatformId.errors.required">Platform is required</div>
              </div>
            </div>
            <div class="form-group">
              <label>EmailAccount</label>
              <select class="form-control" formControlName="EmailAccountId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.EmailAccountId.errors }">
                <option value="" disabled>Choose an EmailAccount</option>
                <option *ngFor="let ea of emailaccounts" [ngValue]="ea.Id">{{ea.Email}}</option>
              </select>
              <div *ngIf="submitted && f.EmailAccountId.errors" class="invalid-feedback">
                <div *ngIf="f.EmailAccountId.errors.required">EmailAccount is required</div>
              </div>
            </div>
            <div class="row button-form-padding">
              <div class="col-2"></div>
              <div class="col-8">
                <button [disabled]="loading" class="model-form-button">Add Account</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
