.item-information {
  text-align: center;
}

.item-information-box {
  border: 1px solid lightgray;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
}

.button-area {
  margin-top: 20px;
}

.information-button {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.item-information-innerbox {
  margin-top: 20px;
  border: 1px solid lightgrey;
}

.item-information-padding {
  padding-top: 40px;
  padding-bottom: 40px;
}

.item-information-item {
  font-weight: bold;
  text-align: center;
}

.item-information-item a {
  font-weight: normal;
}

.item-information-item p {
  font-weight: normal;
  display: inline;
}

.item-padding-bottom {
  padding-bottom: 40px;
}
