.model-form {
  padding-top: 60px;
  padding-bottom: 60px;
}

.button-form-padding {
  padding-top: 45px;
}

.model-form-button {
  border: none;
  cursor: pointer;
  color: black;
  background-color: lightblue;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
}

